openapi: 3.2.0
info:
  title: Epsilon Retail Media Integration Catalogs API
  version: '1'
  x-source: https://developers.citrusad.com/integration/reference/
servers:
- url: https://integration-BASE-URL.citrusad.com/v1/
security:
- sec0: []
tags:
- name: Catalogs
paths:
  /catalogs:
    post:
      summary: Create or update a catalog
      description: ''
      operationId: create-or-update-a-catalog
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                catalogs:
                  type: array
                  items:
                    properties:
                      id:
                        type: string
                        description: Omit if creating a new catalogId.
                      teamId:
                        type: string
                      name:
                        type: string
                        description: The name of the catalog
                    required:
                    - name
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"catalogs\": [\n        {\n            \"id\": \"string\",\n            \"teamId\": \"string\",\n            \"name\": \"string\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  catalogs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: string
                        teamId:
                          type: string
                          example: string
                        name:
                          type: string
                          example: string
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"additionalInfo\": [\n        {\n            \"code\": \"string\",\n            \"message\": \"string\"\n        }\n    ],\n    \"message\": \"string\"\n}"
              schema:
                type: object
                properties:
                  additionalInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: string
                        message:
                          type: string
                          example: string
                  message:
                    type: string
                    example: string
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '502':
          description: '502'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '503':
          description: '503'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '504':
          description: '504'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Catalogs
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      x-bearer-format: basic
      x-default: YOUR_API_KEY
