openapi: 3.2.0
info:
  title: Epsilon Retail Media Integration Catalog Products API
  version: '1'
  x-source: https://developers.citrusad.com/integration/reference/
servers:
- url: https://integration-BASE-URL.citrusad.com/v1/
security:
- sec0: []
tags:
- name: Catalog Products
paths:
  /catalog-products:
    post:
      summary: Create or update a product
      description: ''
      operationId: create-or-update-a-product
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                catalogProducts:
                  type: array
                  items:
                    properties:
                      teamId:
                        type: string
                        description: Omittable. Can be derived from API Key.
                      catalogId:
                        type: string
                        description: The catalogId to synchronise the product within
                      gtin:
                        type: string
                        description: The product code of the product. Does not need to be GTIN.
                      inventory:
                        type: integer
                        description: The number of the product in stock. If set to 0, product ads will not serve for the product.
                        format: int32
                      price:
                        type: string
                        description: The number price of the product.
                      filters:
                        type: array
                        description: The filters/attributes of the products. Directly related to the productFilters specified in ad generation. This may be be category, location, and brand information.
                        default: []
                        items:
                          type: string
                      groups:
                        type: array
                        description: Used for category minimum bids and cross-sell placements. Contact your technical account manager to integrate these features.
                        default: []
                        items:
                          type: string
                      tags:
                        type: array
                        description: Used to specify imageurl and name used in the platform. Required in the format "imageurl:<value>", "name:<value>"
                        default: []
                        items:
                          type: string
                      sellerId:
                        type: string
                        description: The unique Id of the seller. Only required if onboarding marketplace sellers. Can be left blank for non marketplace products. One product required per product and sellerId combination. There are additional requirements to integrate seller_ids, please refer to [Marketplace sellerId](https://developers.citrusad.com/integration/reference/marketplace-sellerid) for more information.
                    required:
                    - catalogId
                    - gtin
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "\n{\n    \"catalogProducts\": [\n        {\n            \"teamId\": \"string\",\n            \"catalogId\": \"string\",\n            \"gtin\": \"string\",\n            \"inventory\": \"number\",\n            \"price\": \"number\",\n            \"groups\": [\n                \"string\"\n            ],\n            \"tags\": [\n                \"string\"\n            ],\n            \"filters\": [\n                \"string\"\n            ],\n            \"profit\": \"number\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  catalogProducts:
                    type: array
                    items:
                      type: object
                      properties:
                        teamId:
                          type: string
                          example: string
                        catalogId:
                          type: string
                          example: string
                        gtin:
                          type: string
                          example: string
                        inventory:
                          type: string
                          example: number
                        price:
                          type: string
                          example: number
                        groups:
                          type: array
                          items:
                            type: string
                            example: string
                        tags:
                          type: array
                          items:
                            type: string
                            example: string
                        filters:
                          type: array
                          items:
                            type: string
                            example: string
                        profit:
                          type: string
                          example: number
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"additionalInfo\": [\n        {\n            \"code\": \"string\",\n            \"message\": \"string\"\n        }\n    ],\n    \"message\": \"string\"\n}"
              schema:
                type: object
                properties:
                  additionalInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: string
                        message:
                          type: string
                          example: string
                  message:
                    type: string
                    example: string
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '502':
          description: '502'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '503':
          description: '503'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '504':
          description: '504'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Catalog Products
    get:
      summary: Retrieve a list of products
      description: ''
      operationId: retrieve-a-list-of-products
      parameters:
      - name: limit
        in: query
        description: Maximum 1000
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
      - name: catalogId
        in: query
        required: true
        schema:
          type: string
      - name: gtins
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "\n{\n    \"catalogProducts\": [\n        {\n            \"teamId\": \"string\",\n            \"catalogId\": \"string\",\n            \"gtin\": \"string\",\n            \"inventory\": \"number\",\n            \"price\": \"number\",\n            \"groups\": [\n                \"string\"\n            ],\n            \"tags\": [\n                \"string\"\n            ],\n            \"filters\": [\n                \"string\"\n            ],\n            \"profit\": \"number\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  catalogProducts:
                    type: array
                    items:
                      type: object
                      properties:
                        teamId:
                          type: string
                          example: string
                        catalogId:
                          type: string
                          example: string
                        gtin:
                          type: string
                          example: string
                        inventory:
                          type: string
                          example: number
                        price:
                          type: string
                          example: number
                        groups:
                          type: array
                          items:
                            type: string
                            example: string
                        tags:
                          type: array
                          items:
                            type: string
                            example: string
                        filters:
                          type: array
                          items:
                            type: string
                            example: string
                        profit:
                          type: string
                          example: number
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"additionalInfo\": [\n        {\n            \"code\": \"string\",\n            \"message\": \"string\"\n        }\n    ],\n    \"message\": \"string\"\n}"
              schema:
                type: object
                properties:
                  additionalInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: string
                        message:
                          type: string
                          example: string
                  message:
                    type: string
                    example: string
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '502':
          description: '502'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '503':
          description: '503'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '504':
          description: '504'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Catalog Products
  /catalog-products/{catalogId}/{gtin}:
    get:
      summary: Retrieve a product
      description: ''
      operationId: retrieve-a-product
      parameters:
      - name: catalogId
        in: path
        description: The catalog you are retrieving the product within. Required.
        schema:
          type: string
        required: true
      - name: gtin
        in: path
        description: The product code you are requesting. Does not need to be gtin. Required.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n            \"teamId\": \"string\",\n            \"catalogId\": \"string\",\n            \"gtin\": \"string\",\n            \"inventory\": \"number\",\n            \"price\": \"number\",\n            \"groups\": [\n                \"string\"\n            ],\n            \"tags\": [\n                \"string\"\n            ],\n            \"filters\": [\n                \"string\"\n            ],\n            \"profit\": \"number\"\n}"
              schema:
                type: object
                properties:
                  teamId:
                    type: string
                    example: string
                  catalogId:
                    type: string
                    example: string
                  gtin:
                    type: string
                    example: string
                  inventory:
                    type: string
                    example: number
                  price:
                    type: string
                    example: number
                  groups:
                    type: array
                    items:
                      type: string
                      example: string
                  tags:
                    type: array
                    items:
                      type: string
                      example: string
                  filters:
                    type: array
                    items:
                      type: string
                      example: string
                  profit:
                    type: string
                    example: number
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"additionalInfo\": [\n        {\n            \"code\": \"string\",\n            \"message\": \"string\"\n        }\n    ],\n    \"message\": \"string\"\n}"
              schema:
                type: object
                properties:
                  additionalInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: string
                        message:
                          type: string
                          example: string
                  message:
                    type: string
                    example: string
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '403':
          description: '403'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '502':
          description: '502'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '503':
          description: '503'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '504':
          description: '504'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Catalog Products
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      x-bearer-format: basic
      x-default: YOUR_API_KEY
